.card {
    box-shadow: 0 1px 8px 0 rgba(0,0,0,0.2);
    transition: 0.2s;
    border-radius: 5px;
    width: 40vw;

    max-width: 540px;
    min-width: 402px;

    display: flex;

    margin-bottom: 5px;
    padding-top: 5px;
}

.container {
    padding: 2px 16px;
}

#edit-event-btn, #delete-event-btn {

    
    color: #FFF;
    
    padding-right: 10px;

    height: 0px;

    border-style: hidden;
}

#edit-icon, #delete-icon {
    margin-top: 3px;
}