#infoContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: var(--color-highlight);
    overflow: hidden;
}

#infoText {
    color: var(--color-background);
    font-family: Rubik, sans-serif;
    font-weight: 500;
    letter-spacing: 0.05rem;
    text-align: center;
    font-size: 4rem;
}

#infoContainer div {
    display: flex;
    align-items: center;
}

#infoContainer p {
    color: var(--color-background);
    font-family: Karla, sans-serif;
    letter-spacing: 0.1rem;
    text-align: center;
    font-size: 2rem;
    margin: 2rem;
}